<% include header.ejs %>
<% include top_nav.ejs %>


<body style="padding-top:30px">
<div class="container-fluid" >
  <div class="row">
      <% include left.ejs %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">添加专家</h2>
      <div  style="max-width:500px;margin-top:30px;">

          <form class="form-horizontal" action="" method="post">
              <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">姓名</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" placeholder="姓名" autofocus required>
                  </div>
              </div>
              <div class="form-group">
                  <label for="zhiwu" class="col-sm-2 control-label">职务</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="zhiwu" placeholder="职务">
                  </div>
              </div>
              <div class="form-group">
                  <label for="shouji" class="col-sm-2 control-label">手机</label>
                  <div class="col-sm-10">
                      <input type="tel" class="form-control" id="shouji" placeholder="手机">
                  </div>
              </div>
              <div class="form-group">
                  <label for="bgdh" class="col-sm-2 control-label">办公电话</label>
                  <div class="col-sm-10">
                      <input type="tel" class="form-control" id="bgdh" placeholder="办公电话" required >
                  </div>
              </div>
              <div class="form-group">
                  <label for="yx" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                      <input type="email" class="form-control" id="yx" placeholder="Email" required>
                  </div>
              </div>
              <div class="form-group">
                  <label for="zhicheng" class="col-sm-2 control-label">头像</label>
                  <div class="col-sm-10">

                      <div style="width: 140px; height: 140px;position: relative">
                          <img  class="img-thumbnail" alt="点击上传" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGYzYWJlZDlmMyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZjNhYmVkOWYzIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1LjUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 140px; height: 140px;">
                          <input type="file" id="headfile" name="headfile" style="width: 140px; height: 140px;position: absolute;top:0;left: 0;opacity:0;" title="点击上传">
                      </div>


                  </div>
              </div>
              <!--<div class="form-group">-->
                  <!--<div class="col-sm-offset-2 col-sm-10">-->
                      <!--<div class="checkbox">-->
                          <!--<label>-->
                              <!--<input type="checkbox"> Remember me-->
                          <!--</label>-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button class="btn btn-primary" type="submit">保存</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>

<% include commonScript.ejs %>
<script>
    $(function(){


    $("#headfile").change(function(){

        var data = new FormData();

        var files = $("#headfile")[0].files;

        if(files){

            data.append("file", files[0]);

        }

        $.ajax({

            type: 'post',
            dataType: 'json',
            url:'/uploadImg',
            data : data,
            contentType: false,
            processData: false,
            success: function (data2,type) {
               // var dataObj=eval("("+data2+")");//转换为json对象
                console.log(data2[0].url);
                if(data2[0].error==0)
               $(".img-thumbnail").attr("src","/images/"+data2[0].url)
                else
                alert("头像上传失败，请重试");
            }

        })
    })
    })
</script>
<% include footer.ejs %>