<% include header.ejs %>
<% include top_nav.ejs %>


<body style="padding-top:30px">
<div class="container-fluid" >
  <div class="row">
      <% include left.ejs %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">专家列表</h2>
      <div class="table-responsive">
          <style>
              .table>tbody>tr>td{
                  padding: 15px 8px;
              }
          </style>
        <table class="table table-striped">
          <thead>
          <tr>
              <th>序号</th>
            <th>姓名</th>
            <th>姓别</th>
            <th>职务</th>
            <th>职称</th>
            <th>手机号</th>
            <th>Email</th>
            <th>单位</th>
            <th>智库类别</th>
            <th>类别细分项</th>
          </tr>
          </thead>
          <tbody>

          <% datos.forEach(function (v, k){ %>

          <tr>
              <td><%= k+1 %></td>
          <td><%= v.username %></td>
          <td>男</td>
          <td>研究院主任</td>
          <td>主任医师</td>
          <td><%= v.username %></td>
          <td><%= v.username %></td>
          <td>康复学分会</td>
          <td>123213213</td>
          <td>123213213</td>
          </tr>

          <% }) %>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<% include footer.ejs %>