<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li name="index" class="active"><a href="/">专家列表</a></li>
        <li name="add_expert"><a href="/add_expert">添加专家</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">短信列表</a></li>
        <li><a href="">模版配置</a></li>
        <li><a href="">用户管理</a></li>
    </ul>

</div>