<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li name="index" class="active"><a href="/">专家列表</a></li>
        <li name="add_expert"><a href="/add_expert">添加专家</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="javascript:alert('此功能敬请期待');" class="btn-default">短信列表</a></li>
        <li><a href="javascript:alert('此功能敬请期待');"  class="btn-default">模版配置</a></li>
        <li><a href="javascript:alert('此功能敬请期待');"  class="btn-default">用户管理</a></li>
    </ul>

</div>