<% include header.ejs %>


<body class="login_body">
<div class="container">


        <form class="form-signin" action="/login" method="post">
        <h3 class="form-signin-heading">蓝海智库系统</h3>
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>
        <label for="uname" class="sr-only">用户名</label>
        <input type="text" id="uname" name="username" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="密码" required>
        <div class="checkbox">
            <label>
                <input type="checkbox"  name="remember" value="yes"> 记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div>


<% include footer.ejs %>

